<!doctype html>
<html lang="en">

<head>
    <meta name="description" content="卫建委健康管理师">
    <meta name="keywords" content="magic ears,magicears">
    <title>注册健康管理师</title>
    <meta charset="UTF-8">
    <meta name="baidu-site-verification" content="zUN4LJ0f6N" />
    <meta name="baidu-site-verification" content="pNHKCL8kTf" />
    <meta name="viewport"
        content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no,viewport-fit=cover" />
    <script
        type="text/javascript">!function (e, t) { var i = t.documentElement, n = e.devicePixelRatio || 1; function d() { var e = (750 < i.clientWidth ? 750 : i.clientWidth) / 10; i.style.fontSize = e + "px" } if (d(), e.addEventListener("resize", d), e.addEventListener("pageshow", function (e) { e.persisted && d() }), 2 <= n) { var a = t.createElement("body"), r = t.createElement("div"); r.style.border = ".5px solid transparent", a.appendChild(r), i.appendChild(a), 1 === r.offsetHeight && i.classList.add("hairlines"), i.removeChild(a) } }(window, document)</script>
    <link href="https://static.mmears.cn/student-m/css/register.3f9b9bab.css" rel="stylesheet">
</head>

<body>
    <style>
        /* body {
            margin: 0 auto;
            width: 600px;
            height: 1px;
        } */

        div {
            width: 600px;
            height: 1px;
            background:write;
        }
    </style>
    <div class="all-div">
        <!-- <div class="register-top">
            <div class="go-back"></div>
            <div class=""></div>
        </div> -->
        <div class="register-con">
            <div class=""></div>
            <div class="register-text">免费注册</div>
            <div class="error-msg">免费注册</div>
            <div class="register-input"><label>手机号</label> <input class="input-phone" placeholder="请输入手机号"></div>
            <div class="register-input img-code"><label>图形码</label> <input class="img-code-input" placeholder="请输入图形码">
                <div class="code"><img class="get-img-code" /></div>
            </div>
            <div class="register-input"><label>验证码</label> <input class="input-code" placeholder="请输入验证码">
                <div class="code get-code">获取验证码</div>
            </div>
            <div class="agree">
                <div><input id="agree-text" type="checkbox" hidden value="1"></div><label for="agree-text"
                    class="agree-text check-change"></label>
                <div class="text-a">我已阅读并同意 <span class="toUser">《卫建委健康管理师协议》</span></div>
            </div>
            <div class="submit click-submit">注册/登录</div>
            <!-- <div class="about-class">已有账号? <span><u>请登录</u></span></div> -->
        </div>
    </div>
    <script type="text/javascript" src=""></script>
    <script type="text/javascript" src=""></script>
    <script type="text/javascript" src=""></script>
</body>

</html>